.login-form {
	margin-left:auto;
	margin-right:0;
	color:#d6d6d6
}

.login-form label {
	opacity: 0.5;
	padding: 10px
}

.menu-image img {
	width: 93%;
	margin-left: 50px;
	margin-top: 40px;
}

.mt-3 {
	text-align: left;
	margin-left: 50px;
}

.menu-title {
	font-size: 780%;
	text-align:center;
	color: black;
	border: double; padding: 10px;
	padding-bottom: 30px
	
	
}

.breakfast{
	width: 50%;
}
.image-radio input[type="radio"] {
    display: none;
}
.image-radio-checked {
	border-color: #4783D0;
}
.image-radio .glyphicon {
  position: static;
  color: #4A79A3;
  background-color: #fff;
  padding: 5px;
  top: 0px;
  right: 0px;
}
.image-radio-checked .glyphicon {
  display: block !important;
}