doctype html(lang='en')
head
    title Food Waste Project
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='stylesheets/index.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js')
  body
    nav.navbar.navbar-expand-md.bg-dark.navbar-dark
      a.navbar-brand(href='/') Home
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#collapsibleNavbar')
        span.navbar-toggler-icon
      #collapsibleNavbar.collapse.navbar-collapse
        ul.navbar-nav
          li.nav-item
            a.nav-link(href='/menu') Menu
          li.nav-item
            a.nav-link(href='/pollresults') Poll Results
        if(!user)
          form.form-inline.login-form(action="/login", method="post")
            .form-group
              label(for='username') Username:
              input#username.form-control(type='text', placeholder='Enter NUSNET ID', name='username')
            .form-group
              label(for='pwd') Password:
              input#pwd.form-control(type='password', placeholder='Enter password', name='password')
            button.btn.btn-primary(type='submit') Submit
        if(user)
          ul.navbar-nav.login-form
            li.nav-item
              label You are currently logged in as #{user.username}
            li.nav-item
              a.nav-link(href="/logout") Logout
    #demo.carousel.slide(data-ride='carousel')
      ul.carousel-indicators
        li.active(data-target='#demo', data-slide-to='0')
        li(data-target='#demo', data-slide-to='1')
        li(data-target='#demo', data-slide-to='2')
      .carousel-inner
        .carousel-item.active
          img(src='images/bannerfood4.jpg', alt='NUS Students', width='1920', height='910')
          .carousel-caption.caption-RC
            .caption-box
              p.caption-RCheader RC Meal Plan System
              p.caption-RC All your RC Dining Hall Needs
        .carousel-item
          img(src='images/bannerfood3.jpg', alt='Delicious Desserts', width='1920', height='910')
          .carousel-caption.caption-RC
            .caption-box
              p.caption-RCheader RC Meal Plan System
              p.caption-RC All your RC Dining Hall Needs
        .carousel-item
          img(src='images/bannerfood2.jpg', alt='Dining Hall', width='1920', height='910')
          .carousel-caption.caption-RC
            .caption-box
              p.caption-RCheader RC Meal Plan System
              p.caption-RC All your RC Dining Hall Needs
      a.carousel-control-prev(href='#demo', data-slide='prev')
        span.carousel-control-prev-icon
      a.carousel-control-next(href='#demo', data-slide='next')
        span.carousel-control-next-icon
