<!DOCTYPE html>
<html lang="en">
<head>
  <title>Food Waste Project</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="stylesheets/index.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>

</head>
<body>

<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <a class="navbar-brand" href="#">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">Menu</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Credits</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Account</a>
      </li>    
    </ul>
    <form class="form-inline login-form" action="/action_page.php">
        <label for="username">Username:</label>
        <input type="email" class="form-control" id="username" placeholder="Enter username" name="username">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd">
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox" name="remember"> Remember me
          </label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
  	</form>
    </div>
  </div>  
</nav>

<div id="demo" class="carousel slide" data-ride="carousel">
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="images/bannerfood4.jpg" alt="NUS Students" width="1920" height="910">
      <div class="carousel-caption caption-RC">
        <div class="caption-box">
       	 <p class="caption-RCheader">RC Meal Plan System</p>
         <p class="caption-RC">All your RC Dining Hall Needs</p>
        </div>   
     </div>
    </div>
    <div class="carousel-item">
      <img src="images/bannerfood3.jpg" alt="Delicious Desserts" width="1920" height="910">
      <div class="carousel-caption caption-RC">
        <div class="caption-box">
       	 <p class="caption-RCheader">RC Meal Plan System</p>
         <p class="caption-RC">All your RC Dining Hall Needs</p>
        </div>
      </div>   
    </div>
    <div class="carousel-item">
      <img src="images/bannerfood2.jpg" alt="Dining Hall" width="1920" height="910">
      <div class="carousel-caption caption-RC">
        <div class="caption-box">
       	 <p class="caption-RCheader">RC Meal Plan System</p>
         <p class="caption-RC">All your RC Dining Hall Needs</p>
        </div>
      </div>   
    </div>
  </div>
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>

</body>
</html>
