.login-form {
	margin-left:auto;
	margin-top:auto;
	margin-bottom:auto;
	margin-right:10px;
	color:#d6d6d6
}

.login-form label {
	margin: auto;
	opacity: 0.5;
	padding: 10px;
}
.login-form button {
	margin-left: 10px
}

.caption-RC {
	font-size: 150%
}

.caption-RCheader {
	font-size: 400%;
}

.caption-box {
	background: rgba(51,51,51,0.9);
	padding: 10px;
	border: 1px grey;
	margin-bottom: 290px
}
