.login-form {
	margin-left:auto;
	margin-right:0;
	color:#d6d6d6
}

.login-form label {
	opacity: 0.5;
	padding: 10px
}

.caption-RC {
	font-size: 150%
}

.caption-RCheader {
	font-size: 400%;
}

.caption-box {
	background: rgba(51,51,51,0.9); padding: 10px; border: 1px grey; margin-bottom: 290px;
}